@media only screen and (min-width: 700px) {
  .description p {
    margin-bottom: 30px;
  }

  .text-input {
    padding: 8px;
    width: 35%;
    }

  .form-btn {
    margin-top: 30px;
  }
}

/*================================================
==================================================*/

@media only screen and (min-width: 1024px) {
}
