@media only screen and (min-width: 426px) {
  .desc-header,
  .desc-p,
  .form-text,
  .btn-input,
  .result-meter {
    margin-top: 25px;
  }
}

@media only screen and (min-width: 740px) {
  .desc-p {
    font-size: 110%;
  }
  
  .desc-header,
  .desc-p,
  .form-text,
  .btn-input,
  .result-meter {
    margin-top: 30px;
  }

  .result-meter {
    font-size: 250%;
  }
}
